@use 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
small {
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5em;
    font-family: variables.$font-family-body;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.d-none {
    display: none !important;
}
