@media screen and (max-width: 1024px) {
    .container {
        width: 90vw;
    }

    header {
        .header-caption {
            width: 60%;

            h1 {
                font-size: 6vw;
            }
        }
    }

    main {
        section#interactive-vr {
            .interactive-vr__information {
                h2 {
                    font-size: 4vw;
                }

                p {
                    width: 100%;
                }
            }
        }
    }
}
