@use 'base';
@use 'variables';

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 650px;
    background: #fff url("../images/desktop/image-hero.jpg") no-repeat center;
    background-size: cover;

    .mobile-menu {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        display: none;
    }

    .hamburguer-menu {
        display: none;
    }

    nav {
        position: relative;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;

            li {
                margin-left: 32px;

                a {
                    font-family: variables.$font-family-title;
                    color: #fff;

                    &:hover {
                        padding-bottom: 10px;
                        position: relative;

                        &::after {
                            content: "";
                            height: 4px;
                            background: white;
                            position: absolute;
                            bottom: 0%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            animation: animationBorderMenu 0.3s ease-in-out
                                forwards;
                        }
                    }
                }
            }
        }
    }

    .header-caption {
        width: 60%;
        display: inline-block;
        margin-top: 60px;
        font-size: 2.1em;
        padding: 36px;
        border: 1px solid white;

        h1 {
            font-size: 2.1em;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

main {
    section#interactive-vr {
        width: 100%;
        margin: 100px 0;
        position: relative;

        .interactive-vr__information {
            width: 50%;
            padding: 100px 100px 0 100px;
            position: absolute;
            right: 0;
            bottom: 0px;
            background-color: white;

            h2 {
                text-transform: uppercase;
                font-size: 3em;
                margin-bottom: 28px;
            }

            p {
                width: 450px;
                font-size: 1em;
                font-family: variables.$font-family-title;
            }
        }
    }

    .our-creations {
        margin-bottom: 200px;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;

            h2 {
                text-transform: uppercase;
                font-size: 3em;
            }
        }

        &__cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards__row {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                gap: 16px;
                width: 100%;

                .cards__item {
                    a {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 100%;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            background: black;
                            background: linear-gradient(
                                to bottom,
                                transparent 0,
                                rgba(0, 0, 0, 0.8) 99%
                            );
                            transition: 0.5s ease;
                        }

                        &:hover {
                            &::after {
                                background: none;
                            }
                        }

                        &:hover img,
                        &:hover source {
                            opacity: 0.3;
                        }
                        &:hover figcaption {
                            color: black;
                        }

                        figure {
                            height: 100%;

                            img,
                            source {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                opacity: 1;
                                transition: 0.5s ease;
                            }

                            figcaption {
                                position: absolute;
                                bottom: 40px;
                                left: 40px;
                                color: white;
                                font-size: 2vw;
                                text-transform: uppercase;
                                transition: 0.5s ease;
                                z-index: 999;
                            }
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 16px 48px;
        background-color: white;
        color: black;
        border: 2px solid black;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: variables.$font-family-title;
        cursor: pointer;
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

footer {
    width: 100%;
    background-color: black;
    padding: 40px 0;
    font-family: "Alata";
    color: #fff;

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        &__social-media {
            a {
                margin-left: 16px;

                &:hover {
                    padding-bottom: 10px;
                    position: relative;

                    &::after {
                        content: "";
                        height: 4px;
                        background: white;
                        position: absolute;
                        bottom: 0%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        animation: animationBorderSocialMedia 0.3s ease-in-out
                            forwards;
                    }
                }
            }
        }
    }

    .footer-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        nav ul {
            display: flex;

            li {
                margin-right: 32px;

                a {
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        padding-bottom: 10px;
                        position: relative;

                        &::after {
                            content: "";
                            height: 4px;
                            background: white;
                            position: absolute;
                            bottom: 0%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            animation: animationBorderMenu 0.3s ease-in-out
                                forwards;
                        }
                    }
                }
            }
        }

        p {
            font-family: "Josefin Sans";
            font-size: 1em;
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;

        .attribution {
            font-family: "Josefin Sans";

            a {
                font-family: inherit;
                color: white;
            }
        }
    }
}

@keyframes animationBorderMenu {
    0% {
        width: 0;
    }

    100% {
        width: 40px;
    }
}

@keyframes animationHamburguerMenuLine1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes animationHamburguerMenuLine2 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes animationHamburguerMenuLine3 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes animationBorderSocialMedia {
    0% {
        width: 0;
    }

    100% {
        width: 20px;
    }
}

@import "media-1440.scss";
@import "media-1024.scss";
@import "media-768.scss";
@import "media-375.scss";
