* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
small {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5em;
  font-family: "Josefin Sans", arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 650px;
  background: #fff url("../images/desktop/image-hero.jpg") no-repeat center;
  background-size: cover;
}
header .mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
}
header .hamburguer-menu {
  display: none;
}
header nav {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 32px;
}
header nav ul li a {
  font-family: "Alata", arial, sans-serif;
  color: #fff;
}
header nav ul li a:hover {
  padding-bottom: 10px;
  position: relative;
}
header nav ul li a:hover::after {
  content: "";
  height: 4px;
  background: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animationBorderMenu 0.3s ease-in-out forwards;
}
header .header-caption {
  width: 60%;
  display: inline-block;
  margin-top: 60px;
  font-size: 2.1em;
  padding: 36px;
  border: 1px solid white;
}
header .header-caption h1 {
  font-size: 2.1em;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

main section#interactive-vr {
  width: 100%;
  margin: 100px 0;
  position: relative;
}
main section#interactive-vr .interactive-vr__information {
  width: 50%;
  padding: 100px 100px 0 100px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background-color: white;
}
main section#interactive-vr .interactive-vr__information h2 {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 28px;
}
main section#interactive-vr .interactive-vr__information p {
  width: 450px;
  font-size: 1em;
  font-family: "Alata", arial, sans-serif;
}
main .our-creations {
  margin-bottom: 200px;
}
main .our-creations__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
main .our-creations__top h2 {
  text-transform: uppercase;
  font-size: 3em;
}
main .our-creations__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .our-creations__cards .cards__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  width: 100%;
}
main .our-creations__cards .cards__row .cards__item a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
main .our-creations__cards .cards__row .cards__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.8) 99%);
  transition: 0.5s ease;
}
main .our-creations__cards .cards__row .cards__item a:hover::after {
  background: none;
}
main .our-creations__cards .cards__row .cards__item a:hover img, main .our-creations__cards .cards__row .cards__item a:hover source {
  opacity: 0.3;
}
main .our-creations__cards .cards__row .cards__item a:hover figcaption {
  color: black;
}
main .our-creations__cards .cards__row .cards__item a figure {
  height: 100%;
}
main .our-creations__cards .cards__row .cards__item a figure img,
main .our-creations__cards .cards__row .cards__item a figure source {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease;
}
main .our-creations__cards .cards__row .cards__item a figure figcaption {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 2.6vw;
  text-transform: uppercase;
  transition: 0.5s ease;
  z-index: 999;
}
main button {
  padding: 16px 48px;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Alata", arial, sans-serif;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
main button:hover {
  background-color: black;
  color: white;
}

footer {
  width: 100%;
  background-color: black;
  padding: 40px 0;
  font-family: "Alata";
  color: #fff;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
footer .footer-top__social-media a {
  margin-left: 16px;
}
footer .footer-top__social-media a:hover {
  padding-bottom: 10px;
  position: relative;
}
footer .footer-top__social-media a:hover::after {
  content: "";
  height: 4px;
  background: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animationBorderSocialMedia 0.3s ease-in-out forwards;
}
footer .footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
footer .footer-middle nav ul {
  display: flex;
}
footer .footer-middle nav ul li {
  margin-right: 32px;
}
footer .footer-middle nav ul li a {
  text-decoration: none;
  color: #fff;
}
footer .footer-middle nav ul li a:hover {
  padding-bottom: 10px;
  position: relative;
}
footer .footer-middle nav ul li a:hover::after {
  content: "";
  height: 4px;
  background: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animationBorderMenu 0.3s ease-in-out forwards;
}
footer .footer-middle p {
  font-family: "Josefin Sans";
  font-size: 1em;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .attribution {
  font-family: "Josefin Sans";
}
footer .footer-bottom .attribution a {
  font-family: inherit;
  color: white;
}

@keyframes animationBorderMenu {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}
@keyframes animationHamburguerMenuLine1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes animationHamburguerMenuLine2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes animationHamburguerMenuLine3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes animationBorderSocialMedia {
  0% {
    width: 0;
  }
  100% {
    width: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
  }

  header .header-caption {
    width: 60%;
  }
  header .header-caption h1 {
    font-size: 6vw;
  }

  main section#interactive-vr .interactive-vr__information h2 {
    font-size: 4vw;
  }
  main section#interactive-vr .interactive-vr__information p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header .mobile-menu--open {
    animation: mobileMenuOpacity 300ms ease-out forwards;
  }
  header .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }
  header .mobile-menu__top {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: 0 auto;
  }
  header .mobile-menu__items {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  header .mobile-menu__items nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
  header .mobile-menu__items nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .mobile-menu__items nav ul li {
    margin-left: 0;
    margin-bottom: 2.6em;
  }
  header .mobile-menu__items nav ul li a {
    text-transform: uppercase;
    font-family: "Josefin Sans", arial, sans-serif;
    font-size: 6vw;
  }
  header > .container {
    display: flex;
    flex-direction: column;
  }
  header .hamburguer-menu {
    width: 34px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  header .hamburguer-menu__line {
    width: 100%;
    height: 4px;
    background-color: white;
  }
  header .open {
    display: flex;
  }
  header .open > .hamburguer-menu__line:nth-child(1) {
    transform-origin: 8px 0;
    animation: hamburguerMenuLine1Animation 0.3s ease-out forwards;
  }
  header .open > .hamburguer-menu__line:nth-child(2) {
    animation: hamburguerMenuLine2Animation 0.3s ease-out forwards;
  }
  header .open > .hamburguer-menu__line:nth-child(3) {
    animation: hamburguerMenuLine3Animation 0.3s ease-out forwards;
    transform-origin: 0;
  }
  header nav ul {
    display: none;
  }
  header .header-caption {
    width: 100%;
    margin-top: 25vw;
  }
  header .header-caption h1 {
    font-family: "Josefin Sans";
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
  }

  #interactive-vr > .container {
    display: flex;
    flex-direction: column;
  }
  #interactive-vr > .container > .interactive-vr__information {
    width: 100%;
    position: relative;
    padding: 100px 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #interactive-vr > .container > .interactive-vr__information > h2 {
    font-size: 6vw;
    font-family: "Josefin Sans";
    flex: 1;
  }
  #interactive-vr > .container > .interactive-vr__information > p {
    font-size: 4vw;
    font-family: "Josefin Sans";
  }

  main button.lg {
    display: block;
    width: 50vw;
    margin-top: 3rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 3vw;
  }
  main .our-creations__top {
    display: flex;
    flex-direction: column;
  }
  main .our-creations__top > h2 {
    font-size: 6vw;
  }
  main .our-creations__top > button {
    display: none;
  }
  main .our-creations__cards .cards__row {
    grid-template-columns: 1fr;
  }
  main .our-creations__cards .cards__row .cards__item {
    overflow: hidden;
    max-height: 240px;
  }
  main .our-creations__cards .cards__row .cards__item a::after {
    bottom: 0;
  }
  main .our-creations__cards .cards__row .cards__item a figure figcaption {
    font-size: 6vw;
  }

  footer .container .footer-top {
    justify-content: center;
  }
  footer .container .footer-top__social-media {
    margin-bottom: 3rem;
  }
  footer .container .footer-middle {
    display: flex;
    flex-direction: column;
  }
  footer .container .footer-middle nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  footer .container .footer-middle nav ul li {
    margin-bottom: 2rem;
    margin-right: 0;
    text-align: center;
  }
  footer .container .footer-bottom {
    justify-content: center;
  }
}
@keyframes mobileMenuOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hamburguerMenuLine1Animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes hamburguerMenuLine2Animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70%);
  }
}
@keyframes hamburguerMenuLine3Animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */
