$font-family-title: "Alata", arial, sans-serif;
$font-family-body: "Josefin Sans", arial, sans-serif;
$font-size: 15px;
$primary-color-white: hsl(0, 0%, 100%);
$primary-color-black: hsl(0, 0%, 0%);
$primary-color-dark-grey: hsl(0, 0%, 55%);
$primary-color-very-dark-grey: hsl(0, 0%, 41%);
